<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
    <div id="app">
        <header>
            <nav class="container">
                <a class="logo" href="index.html">
                    <img src="Pictures/Logo.svg" alt="logo">
                </a>

                <form action="#" class="search-form">
                    <input type="text" class="search-field" v-model="userSearch" @input="filter">
                    <button class="btn-search" type="submit" @click="filter">
                        Фильтр
                    </button>
                </form>
                <button class="cart-button " type="button" @click="showBasket">Корзина
                    <div class="basket-container">
                        <div class="box_basket-container" v-for="product of goodsOfBasket">
                            <img :src='imgCatalog' alt="good image" class="pictures">
                            <h3>{{product.product_name}}</h3>
                            <p>{{product.price}}</p>
                            <!-- <p class="quantity">{{product.quantity}}</p>
                            <p class="summ">Итого:{{summ}} руб.</p> -->
                        </div>
                    </div>
                </button>
            </nav>
        </header>
        <main>
            <div class="products container">
                <div class="product-item" v-if="filtered.length==0" v-for="product of goods">
                    <img :src='imgCatalog' alt="good image" class="pictures">
                    <h3>{{product.product_name}}</h3>
                    <p>{{product.price}}</p>
                    <button class='button_buy' @click="addProduct(product)"> КУПИТЬ </button>
                </div>
                <div class="product-item" v-if="filtered.length>0" v-for="product of filtered">
                    <img :src='imgCatalog' alt="good image" class="pictures">
                    <h3>{{product.product_name}}</h3>
                    <p>{{product.price}}</p>
                    <button class='button_buy' @click="addProduct(product)"> КУПИТЬ </button>
                </div>
            </div>

    </div>
    </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8"></script>
    <script src="script.js"></script>
</body>

</html>